############################
# GRAYLOG CONFIGURATION FILE
############################
is_master = {{ graylog.options.is_master }}
node_id_file = /etc/graylog/server-node-id
password_secret = {{ graylog.options.pasword_secret }}
root_username = {{ graylog.options.admin_username }}
root_password_sha2 = {{ graylog.options.password_sha2 }}
root_email = "{{ graylog.options.root_email }}"
root_timezone = {{ graylog.options.timezone }}
plugin_dir = {{ graylog.options.plugin_dir }}
rest_listen_uri = http://{{ graylog.options.host }}:{{ graylog.options.rest_api_port }}/api/
rest_transport_uri = http://{{ graylog.options.host }}:{{ graylog.options.rest_transport_port }}/
rest_enable_cors = {{ graylog.options.rest_enable_cors }}
rest_enable_gzip = {{ graylog.options.rest_enable_gzip }}
rest_enable_tls = {{ graylog.options.rest_enable_tls }}
rest_tls_cert_file = {{ graylog.options.rest_tls_cert_file }}
rest_tls_key_file = {{ graylog.options.rest_tls_key_file }}
rest_tls_key_password = {{ graylog.options.rest_tls_key_password }}
rest_max_header_size = {{ graylog.options.rest_max_header_size }}
rest_max_initial_line_length = {{ graylog.options.rest_max_initial_line_length }}
rest_thread_pool_size = {{ graylog.options.rest_thread_pool_size }}
#trusted_proxies = {{ graylog.options.trusted_proxies }}
web_enable = {{ graylog.options.web_enable }}
web_listen_uri = http://{{ graylog.options.host }}:{{ graylog.options.web_listen_port }}/
web_endpoint_uri = {{ graylog.options.web_endpoint_uri }}
web_enable_cors = {{ graylog.options.web_enable_cors }}
web_enable_gzip = {{ graylog.options.web_enable_gzip }}
web_enable_tls = {{ graylog.options.web_enable_tls }}
web_tls_cert_file = {{ graylog.options.web_tls_cert_file }}
web_tls_key_file = {{ graylog.options.web_tls_key_file }}
web_tls_key_password = {{ graylog.options.web_tls_key_password }}
web_max_header_size = {{ graylog.options.web_max_header_size }}
web_max_initial_line_length = {{ graylog.options.web_max_initial_line_length }}
web_thread_pool_size = {{ graylog.options.web_thread_pool_size }}
rotation_strategy = {{ graylog.options.rotation_strategy }}
elasticsearch_max_docs_per_index = {{ graylog.options.elasticsearch_max_docs_per_index }}
elasticsearch_max_size_per_index = {{ graylog.options.elasticsearch_max_size_per_index }}
elasticsearch_max_time_per_index = {{ graylog.options.elasticsearch_max_time_per_index }}
elasticsearch_disable_version_check = {{ graylog.options.elasticsearch_disable_version_check }}
no_retention = {{ graylog.options.no_retention }}
elasticsearch_max_number_of_indices = {{ graylog.options.elasticsearch_max_number_of_indices }}
retention_strategy = {{ graylog.options.retention_strategy }}
elasticsearch_discovery_zen_ping_unicast_hosts = {{ graylog.options.elasticsearch_host }}:{{ graylog.options.elasticsearch_transport_port }}
#elasticsearch_discovery_zen_ping_unicast_hosts = {{ graylog.options.elasticsearch_host }}:{{ graylog.options.elasticsearch_transport_port }}, {{ graylog.options.elasticsearch_host }}:{{ graylog.options.elasticsearch_transport_port }}
output_batch_size = {{ graylog.options.output_batch_size }}
output_flush_interval = {{ graylog.options.output_flush_interval }}
output_fault_count_threshold = {{ graylog.options.output_fault_count_threshold }}
output_fault_penalty_seconds = {{ graylog.options.output_fault_penalty_seconds }}
processbuffer_processors = {{ graylog.options.processbuffer_processors }}
outputbuffer_processors = {{ graylog.options.outputbuffer_processors }}
#outputbuffer_processor_keep_alive_time = 5000
#outputbuffer_processor_threads_core_pool_size = 3
#outputbuffer_processor_threads_max_pool_size = 30
# UDP receive buffer size for all message inputs (e. g. SyslogUDPInput).
#udp_recvbuffer_sizes = 1048576
processor_wait_strategy = {{ graylog.options.processor_wait_strategy }}
ring_size = {{ graylog.options.ring_size }}
inputbuffer_ring_size = {{ graylog.options.inputbuffer_ring_size }}
inputbuffer_processors = {{ graylog.options.inputbuffer_processors }}
inputbuffer_wait_strategy = {{ graylog.options.inputbuffer_wait_strategy }}
message_journal_enabled = {{ graylog.options.message_journal_enabled }}
message_journal_dir = {{ graylog.options.message_journal_dir }}
#message_journal_max_age = 12h
#message_journal_max_size = 5gb
#message_journal_flush_age = 1m
#message_journal_flush_interval = 1000000
#message_journal_segment_age = 1h
#message_journal_segment_size = 100mb
#async_eventbus_processors = 2
lb_recognition_period_seconds = {{ graylog.options.lb_recognition_period_seconds }}
#lb_throttle_threshold_percentage = 95
#stream_processing_timeout = 2000
#stream_processing_max_faults = 3
#alert_check_interval = 60
#output_module_timeout = 10000
#stale_master_timeout = 2000
#shutdown_timeout = 30000
mongodb_uri = {{ graylog.options.mongodb_uri }}
#mongodb_uri = mongodb://grayloguser:secret@localhost:27017/graylog
#mongodb_uri = mongodb://grayloguser:secret@localhost:27017,localhost:27018,localhost:27019/graylog
mongodb_max_connections = {{ graylog.options.mongodb_max_connections }}
mongodb_threads_allowed_to_block_multiplier = {{ graylog.options.mongodb_threads_allowed_to_block_multiplier }}
#rules_file = /etc/graylog/server.drl
#transport_email_enabled = false
#transport_email_hostname = mail.example.com
#transport_email_port = 587
#transport_email_use_auth = true
#transport_email_use_tls = true
#transport_email_use_ssl = true
#transport_email_auth_username = you@example.com
#transport_email_auth_password = secret
#transport_email_subject_prefix = [graylog]
#transport_email_from_email = graylog@example.com

# Specify and uncomment this if you want to include links to the stream in your stream alert mails.
# This should define the fully qualified base url to your web interface exactly the same way as it is accessed by your users.
#transport_email_web_interface_url = https://graylog.example.com

# The default connect timeout for outgoing HTTP connections.
# Values must be a positive duration (and between 1 and 2147483647 when converted to milliseconds).
# Default: 5s
#http_connect_timeout = 5s

# The default read timeout for outgoing HTTP connections.
# Values must be a positive duration (and between 1 and 2147483647 when converted to milliseconds).
# Default: 10s
#http_read_timeout = 10s

# The default write timeout for outgoing HTTP connections.
# Values must be a positive duration (and between 1 and 2147483647 when converted to milliseconds).
# Default: 10s
#http_write_timeout = 10s

# HTTP proxy for outgoing HTTP connections
#http_proxy_uri =

# Disable the optimization of Elasticsearch indices after index cycling. This may take some load from Elasticsearch
# on heavily used systems with large indices, but it will decrease search performance. The default is to optimize
# cycled indices.
#disable_index_optimization = true

# Optimize the index down to <= index_optimization_max_num_segments. A higher number may take some load from Elasticsearch
# on heavily used systems with large indices, but it will decrease search performance. The default is 1.
#index_optimization_max_num_segments = 1

# The threshold of the garbage collection runs. If GC runs take longer than this threshold, a system notification
# will be generated to warn the administrator about possible problems with the system. Default is 1 second.
#gc_warning_threshold = 1s

# Connection timeout for a configured LDAP server (e. g. ActiveDirectory) in milliseconds.
#ldap_connection_timeout = 2000

# Disable the use of SIGAR for collecting system stats
#disable_sigar = false

# The default cache time for dashboard widgets. (Default: 10 seconds, minimum: 1 second)
#dashboard_widget_default_cache_time = 10s

# Automatically load content packs in "content_packs_dir" on the first start of Graylog.
#content_packs_loader_enabled = true

# The directory which contains content packs which should be loaded on the first start of Graylog.
#content_packs_dir = data/contentpacks

# A comma-separated list of content packs (files in "content_packs_dir") which should be applied on
# the first start of Graylog.
# Default: empty
content_packs_auto_load = grok-patterns.json

# For some cluster-related REST requests, the node must query all other nodes in the cluster. This is the maximum number
# of threads available for this. Increase it, if '/cluster/*' requests take long to complete.
# Should be rest_thread_pool_size * average_cluster_size if you have a high number of concurrent users.
proxied_requests_thread_pool_size = 32